# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\UNIVERSIDAD\Datos2_2021\Proyecto2\Proyecto-II-Let-s-play-\ServerG2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
